/* line 7, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
* {
  text-decoration: none;
  color: black;
  font-family: serif;
  soutline: 1px solid white;
  box-sizing: border-box;
  font-size: 14px; }

/* line 15, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.c {
  position: relative;
  color: white;
  margin: 6rem 0;
  height: 100%;
  width: 100%; }

/* line 22, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.left {
  position: relative;
  display: block;
  width: 18rem;
  color: white;
  margin-left: 15%;
  z-index: 2; }

/* line 30, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.right {
  position: relative;
  display: block;
  color: white;
  width: 18rem;
  float: right;
  margin-right: 15%;
  z-index: 2; }

/* line 39, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.clear {
  clear: both; }

/* line 42, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.topmenu {
  position: fixed;
  z-index: 1;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 3rem;
  line-height: 3rem;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  color: black;
  text-align: right; }
  /* line 56, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
  .topmenu > li {
    height: 3rem;
    line-height: 3rem; }
  /* line 60, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
  .topmenu > li.title {
    font-family: cursive;
    position: absolute;
    left: 0;
    margin-left: 1rem; }
  /* line 66, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
  .topmenu > li.list {
    display: inline-block;
    text-align: center;
    margin: 0 1rem; }
  /* line 71, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
  .topmenu > li.list:hover {
    border-bottom: 1px solid black; }

/* line 75, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.content {
  position: absolute;
  left: 0;
  right: 0;
  top: 3rem;
  bottom: 0;
  overflow: scroll;
  background-color: black;
  color: white; }

/* line 85, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.one {
  background-color: black;
  color: white; }

/* line 91, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.dupin,
.i,
.g {
  position: absolute;
  width: 18rem;
  color: white; }

/* line 97, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.dupin,
.i {
  left: 15%; }

/* line 100, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.g {
  right: 15%; }

/* line 103, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.explanation {
  position: absolute;
  left: 2rem;
  right: 2rem;
  top: 2rem;
  margin: auto;
  text-align: center;
  color: white; }

/* line 114, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.dupinsaid,
.isaid,
.gsaid {
  font-size: 1.7rem;
  font-family: sans-serif;
  font-weight: 900; }

/* line 119, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.dupinsaid {
  color: darkseagreen; }

/* line 122, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.isaid {
  color: #71dcff; }

/* line 125, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.gsaid {
  color: #9971ff; }

/* line 128, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.dupin1 {
  position: absolute;
  top: 30rem; }

/* line 132, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.g1 {
  top: 50rem; }

/* line 135, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.dupin2 {
  top: 70rem; }

/* line 138, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.i1 {
  top: 80rem; }

/* line 141, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.g2 {
  top: 100rem; }

/* line 144, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.dupin3 {
  top: 130rem; }

/* line 147, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.g3 {
  top: 140rem; }

/* line 150, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.dupin4 {
  top: 160rem; }

/* line 153, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.g4 {
  top: 180rem; }

/* line 156, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.dupin5 {
  top: 190rem; }

/* line 159, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.g5 {
  top: 200rem; }

/* line 162, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.dupin6 {
  top: 210rem; }

/* line 165, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.g6 {
  top: 220rem; }

/* line 168, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.i2 {
  top: 240rem; }

/* line 171, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.g7 {
  top: 250rem; }

/* line 174, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.i3 {
  top: 290rem; }

/* line 177, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.dupin7 {
  top: 300rem; }

/* line 180, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.g8 {
  top: 310rem; }

/* line 183, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.dupin8 {
  top: 350rem; }

/* line 186, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.g9 {
  top: 360rem; }

/* line 189, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.i4 {
  top: 400rem; }

/* line 192, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.g10 {
  top: 410rem; }

/* line 195, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.dupin10 {
  top: 430rem; }

/* line 198, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.g11 {
  top: 440rem; }

/* line 201, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.i5 {
  top: 485rem; }

/* line 204, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.g12 {
  top: 510rem; }

/* line 207, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.dupin11 {
  top: 690rem; }

/* line 210, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.g13 {
  top: 715rem; }

/* line 213, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.dupin12 {
  top: 765rem; }

/* line 216, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.g14 {
  top: 785rem; }

/* line 219, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.letter {
  position: fixed;
  margin: auto;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0; }

@media (max-width: 450px) {
  /* line 229, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
  .topmenu li {
    font-size: 70%;
    padding: 5px; }
  /* line 233, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
  .info li {
    font-size: 85%; } }

/* line 237, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
.second {
  margin-top: 803rem;
  width: 100%;
  height: 100%;
  color: white; }

/* line 243, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
#fill {
  height: 0;
  background-color: black;
  opacity: 0; }

/* line 248, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
#fill.open {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: black;
  opacity: .70; }

/* line 257, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
#content {
  position: fixed;
  top: 15rem;
  color: black;
  z-index: 1;
  background-color: white;
  left: 50%;
  width: 30rem;
  text-align: center;
  margin-left: -15rem;
  overflow: scroll;
  border-radius: 3px;
  opacity: 0;
  height: 0;
  transform: rotate(0deg) scale(0);
  transition: transform 2s, opacity 3s, height 1s; }

/* line 274, /Users/HEEJU/Desktop/kljuyt.github.io/purloined_letter.scss */
#content.opened {
  opacity: 1;
  height: 23rem;
  transform: rotate(370deg) scale(1); }

/*# sourceMappingURL=purloined_letter.css.map */